@model LoginModel
<form  method="post">
    <div class="row">
        <label class="col-2 form-label" asp-for="UserName">UserName</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="UserName">
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-2 form-label" asp-for="Password">Password</label>
        <div class="col-10">
            <input class="form-control" type="password" asp-for="Password">
        </div>
    </div>
    <div class=" row mt-1">
        <label class="col-2" asp-for="Remember">Remember</label>
        <div class="col-10">
            <input type="checkbox" asp-for="Remember">
            
        </div>        
    </div>
    <div class="mt-1 offset-2">
        <button class="btn btn-primary">Login</button>
        <a class="btn btn-primary" href="/auth/register">Register</a>
    </div>
</form>