@model RegisterModel
<div asp-validation-summary="All">
    
</div>
<form method="post" class="p-3 shadow rounded bg-light">
    <h3 class="mb-3">Register</h3>
    <div class="row mt-2">
        <label class="form-label col-2" asp-for="UserName">UserName</label>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="UserName" placeholder="Enter your username">
        </div>
    </div>
    <div class="row mt-2">
        <label class="form-label col-2" asp-for="Email">Email</label>
        <div class="col-10">
            <input class="form-control" type="email" asp-for="Email" placeholder="Enter your email" required>
        </div>
    </div>
    <div class="row mt-2">
        <label class="form-label col-2" asp-for="Password">Password</label>
        <div class="col-10">
            <input class="form-control" type="password" asp-for="Password" placeholder="Enter your password" required>
        </div>
    </div>
    <div class="row mt-2">
        <label class="form-label col-2" asp-for="FirstName">Name</label>
        <div class="col-10 row">
            <div class="col-6 mb-2 mb-md-0">
                <input class="form-control" type="text" asp-for="FirstName" placeholder="First name" required> 
            </div>
            <div class="col-6 mb-2 mb-md-0">
                <input class="form-control" type="text" asp-for="LastName" placeholder="Last name">
            </div>           
        </div>
    </div>
    <div class="row mt-2">
        <label class="form-label col-2" asp-for="DateOfBirth">Date Of Birth</label>
        <div class="col-10 col-md-6">
            <input class="form-control custom-date-input" type="date" asp-for="DateOfBirth">            
        </div>
    </div>
    <div class="offset-2 mt-3">
        <button type="submit" class="btn btn-primary btn-sm">Register</button>
    </div>    
</form>

<style>
    .custom-date-input {
        max-width: 250px;
    }
</style>
